


@Scripts.Render("~/bundles/jquery")




<script>
$(document).ready(function(){
    $.getJSON('http://localhost:64580/Pessoas/listarImagens?id=@ViewBag.IdCadastrado', function (data) {
        $.each(data, function (index, element) {
            $('body').append($('<div><img id="' + element.ArquivoPessoaId + '" src="' + element.ArquivoCaminho + '" class="img-thumbnail" alt="Cinque Terre" width="304" height="236" /> <br> <a href="' + element.ArquivoCaminho + '" download="' + element.ArquivoPessoaId + '">Baixar</a></div>', {
            }));
        });
    });
});
</script>
