@model Teste.GitHub.Web.Models.Upload.Remessa


@using (Html.BeginForm("uploadArquivos", "Pessoas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anexar Arquivos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <td>Arquivo: </td>
                <td><input type="file" id="Arquivos" name="Arquivos" multiple /></td>
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
        <tr>
            <td>@ViewBag.Mensagem</td>
        </tr>
    </div>
}
